@using RS1_vjezbe.EntityModels
@using RS1_vjezbe.Models

@model StudentPrikazVM

@{
    ViewData["Title"] = "Prikaz";
    //var studenti = (List<Student>)ViewData["studenti"];
    //var q = ViewData["qKey"];

}

<h1>Prikaz</h1>

<button type="button" onclick="window.location='/Student/Uredi'" class="btn btn-primary">Dodaj</button>
<a href="/Student/Uredi" class="btn btn-primary">Dodaj</a>

<form >
    <input name="q" value="@Model.q" />
    <input type="submit" value="Trazi" />
</form>



<table class="table table-bordered">

        <thead>
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>BrojIndeksa</th>
                <th>OpcinaPrebivalista</th>
                <th>OpcinaRodjenja</th>
                <th>Akcija</th>
            </tr>
        </thead>

        <tbody>
    @foreach (var s in Model.studenti)
    {

            <tr>
                <td>@s.ID</td>
                <td>@s.Ime</td>
                <td>@s.Prezime</td>
                <td>@s.BrojIndeksa</td>

                <td>
                    @if (@s.OpcinaPrebivalista != null)
                    {
                        @s.OpcinaPrebivalista
                    }
                    else
                    {
                        <span>Nema podatka</span>
                    }
                </td>

                <td>
                    @if (@s.OpcinaRodjenja!= null)
                    {
                        @s.OpcinaRodjenja
                    }
                     else
                    {
                        <span>Nema podatka</span>
                    }
                </td>

                <td>
                    <a href="/Student/Uredi?StudentID=@s.ID">Uredi</a>
                    <a href="/Student/Obrisi?StudentID=@s.ID">Obrisi</a>
                    <button onclick="PrikaziDetalje(@s.ID)">Detalji</button>
                    <button onclick="PrisustvoNaNastavi(@s.ID)">Prisustvo na nastavi</button>
                </td>

            </tr>
    }
        </tbody>

</table>

<div id="ajaxPrikaz" style="border: 1px solid red">
    This is a simple test
</div>

<script>

    function SnimiOcjenu() {
        var form = $("#OcjenaForma");
        var url = "/StudentOcjene/Snimi";

        $.ajax({
            type:"POST",
            url: url,
            data: form.serialize(),
            success: function (odg) {
                $("#ajaxPrikaz").html(odg);
            }
        });

        alert("Uspjesno snimljeno");
    }

    function UrediOcjenu(OcjenaID) {
        var url = "/StudentOcjene/Uredi?OcjenaID=" + OcjenaID;
        $.get(url, function (odg) {
            $(ajaxPrikaz).html(odg);
        });
    }

    function PrisustvoNaNastavi(StudentID)
    {
        var url = "/Student/PrisustvoNaNastavi?StudentID=" + StudentID;

        //način preko jquerryja
        $.get(url, function (odg) {
            $(ajaxPrikaz).html(odg);
        });

        //način preko xmlhttp requesta
        //var zahtjev = new XMLHttpRequest;
        //zahtjev.onload = function () {
        //    if (zahtjev.status === 200) {
        //        document.getElementById("ajaxPrikaz").innerHTML = zahtjev.responseText;
        //    }
        //    else {

        //    }
        //};

        //zahtjev.open("get", url, true);
        //zahtjev.send();
    }

    function PrikaziDetalje(StudentID) {

        var url = "/StudentOcjene/Prikaz?StudentID=" + StudentID;

        var zahtjev = new XMLHttpRequest();
        zahtjev.onload = function () {
            if (zahtjev.status === 200) {
                document.getElementById("ajaxPrikaz").innerHTML = zahtjev.responseText;
            }
            else {

            }
        };

        zahtjev.open("get", url, true);
        zahtjev.send();

    }
</script>