@using RS1_vjezbe.EntityModels
@using RS1_vjezbe.Helper

@model StudentDodajVM

@{ 
//var opcine = (List<Opcina>)ViewData["opcine"];
}

<form  asp-action="Snimi" asp-controller="Student">
    <div >
        <label hidden>ID</label>
        @*<input type="hidden" name="StudentID" value="@Model.ID" />*@
        <input hidden asp-for="ID" />
    </div>

    <div>
        <label>Ime</label>
        @*<input name="Ime" value="@Model.Ime" />*@
        <input asp-for="Ime" />
    </div>

    <div>
        <label>Prezime</label>
        @*<input name="Prezime" value="@Model.Prezime" />*@
        <input asp-for="Prezime" />
    </div>

    <div>
        <label>OpcinaRodjenjaID</label>
        <select asp-for="OpcinaRodjenjaID" asp-items="Model.Opcine">
           
            @*moguće otkloniti zbog asp-for i asp-items*@
            @*@foreach (ComboBoxVM item in Model.Opcine)
            {
                if (item.ID == Model.OpcinaRodjenjaID)
                {
                    <option selected value="@item.ID">@item.Naziv</option>
                }
                else
                {
                    <option value="@item.ID">@item.Naziv</option>

                }
            }*@
        </select>
    </div>

    <div>
        <label>OpcinaPrebivalistaID</label>
        <select asp-for="OpcinaPrebivalistaID" asp-items="Model.Opcine">

            @*@foreach (ComboBoxVM item in Model.Opcine)
            {
                if (item.ID == Model.OpcinaPrebivalistaID)
                {
                    <option selected value="@item.ID">@item.Naziv</option>
                }
                else
                {
                    <option value="@item.ID">@item.Naziv</option>

                }
            }*@
        </select>
    </div>

    <input type="submit" value="Snimi" />
</form>